# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3

# API
api/__pycache__/
api/migrations/

# DRF
drf/__pycache__/
drf/migrations/
